#guessHistory span {
  font-size: 24px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

#currentGuess {
  margin-right: 5px;
}

#guessButton {
  background-color: green;
}

#guessButton:disabled {
  background-color: lightgray;
}